<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="type/x-icon" href="{% static 'images/logo.ico' %}" >
    <title>Zvezda</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/MainPage/MainBanner.css' %}">
    <link rel="stylesheet" href="{% static 'css/MainPage/MainPage.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/Product/Product.css' %}">
    <link rel="stylesheet" href="{% static 'css/Profile/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/Profile/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/Profile/settings.css' %}">
</head>
<body>
    <div id="main">
        <div id="app"></div>
    </div>

    <script src="{% static 'frontend/main.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

</body>
</html>