.product_user_review__value {
    white-space: pre-wrap;
    width: 100%;
    word-break: break-all;
    line-height: 22px;
    margin-top: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    transition: max-height 0.3s ease;
    font-size: 17px;
}

.product_user_review__value.strict {
    max-height: 66px;
    overflow: hidden;
}

.product_user_review__value.open {
    max-height: 1000px;
}

.product_user_review__open_container {
    cursor: pointer;
}

.product_user_review__open {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.product_user_review__open_arrow {
    margin-left: 10px;
}

.product_user_review {
    margin-top: 20px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.product_user_review__avatar {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid rgb(50, 50, 50);
}

.product_user_review__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.product_user_review__name {
    font-size: 17px;
    font-weight: 500;
}

.product_user_review__subcontainer {
    display: flex;
    align-items: center;
}

.product_user_review__date {
    font-size: 16px;
    margin-left: 10px;
    color: grey;
}

.product_user_review__editreview_container {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px;
    border: 1px solid rgba(50, 50, 50, 0.5);
    border-radius: 10px;
    padding: 0px 10px;
    justify-content: space-between;
    width: 80px;
    height: 30px;
}

.product_user_review__editreview {
    transition: .3s ease;
    cursor: pointer;
}

.product_user_review__editreview:hover {
    transform: scale(1.1);
}

.product_user_review__editreview_delimiter {
    height: 100%;
    width: 1px;
    background-color: rgba(50, 50, 50, 0.5);
}

.product_user_review__wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.product_user_review__editreview_modal {
    position: absolute;
    left: 0;
    top: -80px;
    background-color: white;
    width: 120px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
    z-index: 2;
    border-radius: 10px;
    padding: 10px;
}

.product_user_review__editreview_btn {
    background-color: orange;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 10px;
}

.product_user_review__editreview_btns {
    display: flex;
    justify-content: space-between;
}

.product_user_review__change_review_cancel {
    border: 1px solid rgba(50, 50, 50, 0.5);
    border-radius: 10px;
    padding: 5px 10px;
}

.product_user_review__change_review_cancel:disabled {
    cursor: default;
}

.product_user_review__change_review_save {
    margin-left: 10px;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: orange;
}

.product_user_review__change_value {
    margin-top: 15px;
    height: 100px;
    width: 100%;
    padding-bottom: 5px;
    resize: none;
    border-bottom: 1px solid rgb(50, 50, 50);
    box-sizing: border-box;
}

.product_user_review__changed {
    margin-left: 10px;
    color: rgba(34, 60, 80, 0.4);
    cursor: pointer;
}

.product_user_review__changed_message {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -60px;
    right: -60px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    transition: .3s;
}

.product_user_review__changed:hover+.product_user_review__changed_message {
    visibility: visible;
    opacity: 1;
}

.product_user_review__changed_container {
    position: relative;
}

.product_user_review__change_review_save:disabled {
    background-color: grey;
    cursor: default;
}

.product_user_review__change_review_save_loading {
    margin-left: 10px;
    border-radius: 10px;
    color: white;
    width: 60px;
    height: 18px;
}

.product_user_review__change_review_save_loading > * > * > *{
    font-size: 15px;
    color: white;
}