.header {
    display: flex;
    flex-direction: column;
}

.header__wrapper {
    padding: 5px 0px;
    margin-top: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 370px;
    font-size: 16px;
}

.logo {
    width: 50px;
}

.logo-img {
    width: 100%;
}

.header__search_container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}

.header_search_subcontainer {
    position: relative;
    width: 80%;
}

.header__search {
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid rgb(50, 50, 50);
    width: 100%;
    height: 35px;
}

.header__search_btn {
    position: absolute;
    top: 1px;
    right: 1px;
    border-radius: 5px;
    padding: 5px;
    background-color: orange;
    height: 33px;
}

.search_btn_image {
    height: 100%;
    font-size: 25px;
}

.header__catalog {
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 16px;
    border: 1px solid orange;
}

.header__img {
    color: rgb(50, 50, 50);
    font-size: 40px;
    margin-bottom: 10px;
    transition: .5s ease;
}

.shiny {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    transform: skewX(-25deg);
    animation: shine 1.5s infinite linear;
    transition: .3s ease;
}

.header__subcontainer {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.header__subcontainer:hover .shiny {
    left: 100%;
}

.header__subcontainer:hover .header__img {
    transform: scale(1.02);
}

.header__container.full-width {
    padding: 15 0px;
    width: 100%;
}