.warnings {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(168, 67, 67);
    width: fit-content;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    color: white;
}