.productReview {
    margin-top: 80px;
    width: 70%;
}

.productReview__title {
    font-size: 26px;
    font-weight: 500;
}   

.productReview__write_container {
    margin-top: 30px;
    background-color: rgba(235, 159, 19, 0.363);
    height: 130px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.productReview__write_subcontainer {
    height: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productReview__button {
    background-color: orange;
    width: fit-content;
    font-size: 15px;
    padding: 10px;
    font-weight: 300;
}

.productReview__button:active {
    transform: scale(0.9);
}

.productReview__subtitle {
    font-size: 19px;
}

.productReview__image_container {
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 100px;
}

.productReview__image {
    width: 220px;
    height: auto;
}

.productReview__container {
    margin-top: 50px;
    width: 100%;
    min-width: 300px;
    height: auto;
}

.productReview__container > div {
    margin-bottom: 40px;
}

.userReview {
    width: 100%;
    height: auto;
    display: flex;
}

.userReview__image {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 1px solid rgb(50, 50, 50);
}

.userReview__name {
    font-weight: 500;
}

.userReview__section {
    margin-left: 15px;
}

.userReview__value {
    line-height: 22px;
    margin-top: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    transition: max-height 0.3s ease;
}

.userReview__value.strict {
    max-height: 66px;
}

.userReview__value.open {
    max-height: 1000px;
}

.userReview__open_container {
    margin-top: 10px;
    display: flex; 
    font-weight: 500;
    justify-content: space-between;
    width: 130px;
    align-items: center;
    cursor: pointer;
    transition: .3s ease;
    font-size: 15px;
}

.userReview__open_container:hover {
    color: orange;
}

.userReview__info {
    margin-top: 10px;
    color: grey;
    display: flex;
    align-items: center;
}

.userReview__delimiter {
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background-color: grey;
    margin-right: 10px;
    margin-left: 10px;
}

.userReview__date {
    color: grey;
}

.likesvg {
    width: 25px;
    height: 25px;
}

svg path {
    fill: green;
}

.rate_buttons_section_review {
    margin-right: 10px;
    width: 60px;
    display: flex;
    justify-content: space-between;
}

.rate_buttons_section_review > button  {
    width: 25px;
    border-radius: 5px;
}

.rate_buttons_section_review > button > object {
    width: 25px;
}

.openArrow-enter {
    transform: rotate(0deg);
}

.openArrow-enter-done {
    transform: rotate(-180deg);
    transition: transform .2s ease;
}

.openArrow-exit {
    transform: rotate(-180deg);
}

.openArrow-exit-done {
    transform: rotate(0deg);
    transition: transform .2s ease;
}

.userReview__edit {
    width: 25px;
    transition: .3s ease;
}

.userReview__edit:hover {
    transform: scale(1.1);
}

.emptyReview__image_container {
    transform: rotate(-25deg);
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 100px;
    width: 150px;
    
}

.userReview__edit_section {
    position: relative;
}

.userReview__subsection {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.userReview__subsection:hover  {
    filter: brightness(0) saturate(100%) invert(69%) sepia(90%) saturate(2341%) hue-rotate(358deg) brightness(100%) contrast(105%);
}

.userReview__text {
    margin-left: 10px;
}

.userReview__edit_popup {
    background-color: white;
    width: 150px;
    position: absolute;
    top: -110px;
    left: -65px;
    z-index: 1;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.28);
}

.userReview__edit_popup_container {
    height: 80px;

    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popupDelete-enter {
    opacity: 0;
}

.popupDelete-enter-done {
    opacity: 1; 
    transition: opacity ease .2s;
} 

.popupDelete-exit {
    opacity: 1;
}

.popupDelete-exit-active {
    opacity: 0;
    transition: opacity ease .2s;
}

.transition-wrapper {
    position: absolute;
}

.popupChangeDeleteReview-enter {
    width: 150px;
}

.popupChangeDeleteReview-enter-done {
    width: 300px; 
    transition: width ease .2s;
} 

.popupChangeDeleteReview-exit {
    opacity: 1;
    width: 300px;
}

.popupChangeDeleteReview-exit-done {
    opacity: 0;
    width: 150px;
    transition: width ease .2s, opacity ease .2s;
}

.userReview__delete_container {
    display: flex;
    justify-content: space-around;
}

.userReview__delete_btn {
    border: 1px solid orange;
    padding: 5px 40px;
    border-radius: 5px;
    transition: .2s ease;
}

.userReview__delete_btn:hover {
    transform: scale(1.1);
}

.userReview__delete_btn.yes {
    background-color: rgba(235, 159, 19, 0.363);
}

.userReview__edit_triangle {
    position: absolute;
    bottom: -10px;
    left: 65px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  
    border-bottom: 10px solid white;
    transform: rotate(-180deg);
}

.emptyReview {
    overflow: hidden;
    position: relative;
    padding: 10px 0;
    background-color: rgba(235, 159, 19, 0.363);
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.emptyReview__image {
    width: 100%;
}

.emptyReview__title {
    font-size: 19px;
}

.emptyReview__circle { 
    position: absolute;
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 130px;
}

.emptyReview__circle.first {
    top: -35px;
    right: -40px;
    width: 100px;
    height: 100px;
}

.emptyReview__circle.second {
    top: 120px;
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.534);
}

.userReview__threeDots {
    transform: rotate(-90deg);
    width: 20px;
    cursor: pointer;
}

.changeReview-enter {
    transform: scale(0);
}

.changeReview-enter-active {
    transform: scale(1);
    transition: transform ease .2s;
}

.changeReview-exit {
    transform: scale(1);
}

.changeReview-exit-active {
    transform: scale(0);
    transition: transform ease .2s;
}

/* Review Add */

.reviewAdd__overlay {
    cursor: pointer;
    background-color: rgb(50, 50, 50, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.reviewAdd__container {

    padding: 30px;
    position: absolute;
    background-color: white;
    height: 500px;
    width: 800px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.1);
}

.reviewAdd__title {
    font-size: 26px;
    font-weight: 500;
}

.reviewAdd__cross {
    position: absolute;
    right: 32px;
    top: 32px;
    cursor: pointer;
}

.reviewAdd__sections {
    margin-top: 20px;
    border: 1px solid rgba(50, 50, 50, 0.1);
    padding: 10px;
}

.reviewAdd__product_section {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewAdd__name {
    font-size: 19px;
}

.reviewAdd__image {
    width: 50px;
}

.reviewAdd__review {
    margin-top: 35px;
}

.reviewAdd__review_title {
    color: rgb(50, 50, 50, 0.5);
}

.reviewAdd__input {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid rgba(50, 50, 50, 0.3);
    width: 100%;
    height: 150px;
    resize: none;
}

.reviewAdd__button {
    cursor: default;
    margin-top: 30px;
    background-color: grey;
    font-size: 20px;
    width: fit-content;
    padding: 10px;
    font-weight: 300;
}

.reviewAdd__button.active {
    background-color: orange;
    cursor: pointer;
}

.reviewAdd__review_container {
    display: flex;
    justify-content: space-between;
}

.reviewAdd__count_words {
    color: rgb(50, 50, 50, 0.5);
}

@media (max-width: 500px) {
    .userReview__image {
        width: 30px;
        height: 30px;
    }
}
/* ReviewPopUp */

.reviewPopUp-enter {
    opacity: 0;
}

.reviewPopUp-enter-active {
    opacity: 1;
    transition: opacity ease 300ms;
}

.reviewPopUp-exit {
    opacity: 1;
}

.reviewPopUp-exit-active {
    opacity: 0;
    transition: opacity ease 300ms;
}
