
.product__title {
    font-size: 30px;
    font-weight: 450;
}

.product__info {
    margin-top: 50px;
    padding: 0px 20px;
    
    display: flex;
    justify-content: space-between;
}

.productPage {
    padding: 0 30px;
}

.product__photo_container {
    width: 300px;
}

.product__photo {
    max-width: 100%;
}

.product__description_section {
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product__description {
    margin-bottom: 10px;
}

.product__description_section > div {
    min-height: 100px;
}

.product__description_title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 15px;
}

.product__rate > div {
    margin-bottom: 12px;
}

.rate_buttons_section {
    max-width: 60px;
    display: flex;
    min-width: 50px;
    justify-content: space-between;
}

.rate_buttons_section > button  {
    border: 1px solid rgba(50, 50, 50, 0.447);
    width: 25px;
    border-radius: 5px;
}

.rate_img {
    width: 100%;
}

.product__description_values {
    font-size: 19px;
}

.rate {
    width: fit-content;
    margin-left: 5px;
    margin-right: 5px;
}

.rate_value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}

.rate_circle {
    height: 32px;
    width: 32px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.rate_circle.grey {
    background-color: grey;
}

.rate_circle.green {
    background-color: rgb(76, 167, 76);
}

.rate_circle.yellow {
    background-color: rgb(255, 255, 144);
}

.rate_circle.red {
    background-color: red;
}

.availability_img {
    width: 20px;
}

.product__buying_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 170px;
    height: 150px;
}

.product__price {
    display: flex;
    gap: 5px;
    font-size: 30px;
}

.product__status {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product__add_to_cart_container {
    width: 100%;
}

.product__add_to_cart {
    background-color: orange;
    padding: 5px 15px;
    /* border-radius: 10px; */
}

.product__add_to_cart:active {
    transform: scale(0.9);
}


@keyframes dislike_animation_active {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.2);
        background-color: transparent;
    }

    100% {
        transform: scale(1.0);
        filter: brightness(0) saturate(100%) invert(13%) sepia(94%) saturate(5942%) hue-rotate(4deg) brightness(103%) contrast(119%);
    }
}

@keyframes like_animation_active {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.2);
        background-color: transparent;
    }

    100% {
        transform: scale(1.0);
        filter: brightness(0) saturate(100%) invert(22%) sepia(99%) saturate(1979%) hue-rotate(98deg) brightness(99%) contrast(105%);
    }
}

.rate_img.dislike.active {
    animation: dislike_animation_active 0.5s ease forwards;
}

.rate_img.like.active {
    animation: like_animation_active 0.5s ease forwards;
}

@keyframes dislike_animation_disactive {
    0% {
        filter: brightness(0) saturate(100%) invert(13%) sepia(94%) saturate(5942%) hue-rotate(4deg) brightness(103%) contrast(119%);
    }

    100% {
        background-color: transparent
    }
}

@keyframes like_animation_disactive {
    0% {
        filter: brightness(0) saturate(100%) invert(22%) sepia(99%) saturate(1979%) hue-rotate(98deg) brightness(99%) contrast(105%);
    }

    100% {
        background-color: transparent
    }
}

.rate_img.dislike {
    animation: dislike_animation_disactive 0.5s ease forwards;
}

.rate_img.like {
    animation: like_animation_disactive 1s ease forwards;
}

@media (max-width: 768px) {
    .productPage {
        padding: 0;
    }

    .product__info {
        flex-direction: column;
        align-items: center;
        height: 850px;
    }

    .product__photo_container {
        width: 350px;
    }
}